/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    background: azure;
}
h1 {     
    font-size: 140%;
    color: green;
    margin-bottom: .5em;
    text-align: center;

}
br {
    clear: both;
}

#quantity {
    width: 2em;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50em;
    margin: 0 auto;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.right {
    text-align: center;
}
.cart   {
    text-align: center;
    margin-left: -205px;
}
.cartButton     {
    margin-left: 400px; 
}
.cartButton input   {
    margin-bottom: 20px;
}
